button {
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.2);
  color: black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}
